<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/fiche.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/angular-ui-router/release/angular-ui-router.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/lib/jquery-1.8.3.min.js"></script>
    <script src="js/lib/Http.js"></script>
    <script src="js/lib/mustache.js"></script>
    <script src="js/lib/ICanHaz-no-mustache.min.js"></script>

    <script src="js/config.js"></script>
    <script src="js/DecisionUtils.js"></script>
    <script src="js/FieldsUtils.js"></script>
    <script src="js/fiche/FicheMoyenEngageHelper.js"></script>
    <script src="js/fiche/FicheVehiculeEngageHelper.js"></script>
    <script src="js/fiche/FichePersonnelEngageHelper.js"></script>

    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>

  </head>
  <body ng-app="starter">

	<ion-nav-bar class="bar-royal">
	  <ion-nav-back-button class="button-clear">
        <i class="ion-arrow-left-c"></i> {{getPreviousTitle() || 'Back'}}
      </ion-nav-back-button>
	</ion-nav-bar>
	<ion-nav-view animation="slide-left-right">
	    
    </ion-nav-view>


    <script id="dossiers.html" type="text/ng-template">
 	  <ion-view title="Dossiers en cours">
    	<!--<ion-pane>
	      <ion-header-bar class="bar-royal">
	        <h1 class="title">Dossiers en cours</h1>
	      </ion-header-bar>-->

	      <ion-content>
			<ion-list ng-controller="DossierListCtrl">
			  <ion-item ng-repeat="dossier in dossiers" on-tap="goDossier({{dossier.dossierId}})" class="dossier button button-block button-energized icon-right ion-chevron-right">
				Dossier {{dossier.dossierId}} - {{dossier.dateCreation}}
			  </ion-item>
			</ion-list>
	      </ion-content>

	    <!--</ion-pane>-->
	  </ion-view>
	</script>


	<script id="dossier.html" type="text/ng-template">
	  <ion-view title="Dossier {{dossier.dossierId}}">
		<ion-content>
		  <div class="card">
			<div class="item item-divider">Lieu d'intervention</div>
            <div class="item">
              <div>{{dossier.dossierIntervention.etare}}</div>
              <div>{{dossier.dossierIntervention.numVoie}} {{dossier.dossierIntervention.nomVoie}}</div>
              <div>{{dossier.dossierIntervention.codePostal}} {{dossier.dossierIntervention.commune}}</div>
	        </div>
			<div class="item item-divider">Décisions</div>
			<div class="item">
			  <ion-list>
			    <div ng-repeat="decision in decisions" on-tap="goDecision({{decision.decId}})" class="decision button button-outline button-royal icon-right ion-chevron-right">
				  <span class="decCode">{{decision.decCode}}</span>
				  <span class="codeExecution codeExecution{{decision.codifCodeExecDTO.codeExecOk}}">{{decision.codifCodeExecDTO.code}}</span>
			    </div>
			  </ion-list>
	        </div>
          </div>
		</ion-content>
	  </ion-view>
	</script>


	<script id="decision.html" type="text/ng-template">
	  <ion-view title="Décison {{decision.decCode}} (Dossier {{decision.decRDos}})">
		<ion-content>
		  <div class="card">
		  	<div class="item item-divider">Détail</div>
		  	<div class="item">
              <div>Date : {{dateFormated}}</div>
              <div>Auteur : {{decision.decLoginCre}}</div>
              <div>Libellé : {{decision.scenarioLibelle}}</div>
              <div>
				<span>Scénario {{decision.codifScenarioDTO.scenario}} : </span>
				<span>Moyen: {{scenarioNeedMoyen}}, véhicule: {{scenarioNeedVehicule}}, personnel: {{scenarioNeedPersonnel}}</span>
			  </div>
			</div>
			<div class="item item-divider">Code d'éxecution</div>
			<div class="item">
              <span class="codeExecution codeExecution{{decision.codifCodeExecDTO.codeExecOk}}">{{decision.codifCodeExecDTO.code}}</span> {{decision.decExecutionLib}}
			</div>
		  	<div class="item item-divider">Effecteurs</div>
		  	<div class="item">
              <ion-list>
			    <div ng-repeat="men in decision.moyensEngages" class="moyenEngageContainer">
				  <div on-tap="goMoyenEngage({{men.menId}})" class="moyenEngage button button-outline button-royal icon-right ion-chevron-right">
					<img src="img/icones/MOYEN.{{getMenSuffixe(men)}}png">
				    <span class="label">{{men.menNom}}</span>
				    <span class="codeExecution codeExecution{{men.menOk}}">{{men.menCode}}</span>
				  </div>
				  <ion-list>
					<div ng-repeat="ven in men.vehiculesEngages">
					  <div on-tap="goVehiculeEngage({{ven.venId}})" class="vehiculeEngage button button-outline button-royal icon-right ion-chevron-right">
						<img src="img/icones/VEHICULE.{{getVenSuffixe(ven)}}png">
					    <span class="label">{{ven.venNom}}</span>
				  	    <span class="codeExecution codeExecution{{ven.venOk}}">{{ven.venExecution}}</span>
					  </div>
				      <ion-list>
					    <div ng-repeat="pen in ven.personnelsEngages" on-tap="goPersonnelEngage({{pen.penId}})" class="personnelEngage button button-outline button-royal icon-right ion-chevron-right">
					      <img src="img/icones/PERSONNEL.png">
						  <span class="label">{{pen.penNom}}</span>
					    </div>
			 	      </ion-list>
					</div>
			 	  </ion-list>
			    </div>
			  </ion-list>
			</div>
		  </div>
		</ion-content>
	  </ion-view>
	</script>

	<script id="fiche.html" type="text/ng-template">
	  <ion-view title="{{ficheTitle}}">
		<ion-content>
		  <div class="card fiche" ng-bind-html="ficheHtml"></div>
		</ion-content>
	  </ion-view>
	</script>

	<!-- TEMPLATE POUR LE CONTENU DE LA FICHE MOYEN ENGAGÉ -->
	<script id="tplFicheMenGeneral" type="text/html">
	<div class="item item-divider">{{col1Label}}</div>
    <div class="item">

      <div class="infoGenerale">{{& infoGenerale}}</div>

      {{#hasRemarque}}
       <div id="fiche-post-it" title="{{menDTO.moyenSecoursDTO.remarque}}">&nbsp;</div>
      {{/hasRemarque}}
   	   <div class="fiche-derniere-dispo">
         <span>{{derniereDispoLabel}} : </span>
         <span class="fiche-value">{{menDTO.moyenSecoursDTO.dateDispoFormated}}</span>
       </div>
      {{#isPhoneListDisplayed}}
       <!--<div id="fiche-btn-liste-telephone">{{telephonesLabel}}<span class="fiche-icone-liste-telephone"></span></div>-->
       <div class="fiche-liste-telephone">
        {{#menDTO.moyenSecoursDTO.fax}}
         <div class="fiche-telephone-text fiche-icone-fax">{{faxLabel}} : {{getFormatedFax}}</div>
        {{/menDTO.moyenSecoursDTO.fax}}
        {{#menDTO.moyenSecoursDTO.moyenTelDTOs}}
         <div data="{{tel}}" class="fiche-telephone-text {{cssClass}}" title="{{tooltip}} {{formatedTel}}">{{remarque}} : {{formatedTel}}</div>
        {{/menDTO.moyenSecoursDTO.moyenTelDTOs}}
       </div>
      {{/isPhoneListDisplayed}}
     </div>
    </div>

	<div class="item item-divider">{{col2Label}}</div>
    <div class="item col2">
       <div>Note : {{menDTO.menNote}}</div>
       <div>
         <span class="fiche-code-exec fiche-engagement-label">{{codeExecLabel}} : </span>
         <span class="fiche-code-exec-value codeExecution codeExecution{{menDTO.menOk}}">{{getCodeExec}}</span>
       </div>
       <div>
        <span class="fiche-engagement-label">{{menDateLabel}} : </span>
        <span class="fiche-date-container-container">
         <span class="fiche-date-container">
           {{menDTO.menDateFormated}}
           <span class="fiche-gomme">&nbsp;</span><span class="fiche-undo">&nbsp;</span>
         </span>
         <span class="fiche-calendrier">&nbsp;</span><span class="fiche-horloge">&nbsp;</span>
        </span>
       </div>
       <div>
         <span class="fiche-engagement-label">{{menDateFinLabel}} : </span>
		 <span class="fiche-date-container-container">
          <span class="fiche-date-container">
  			{{menDTO.menDateFinFormated}}
           	<span class="fiche-gomme">&nbsp;</span><span class="fiche-undo">&nbsp;</span>
          </span>
         <span class="fiche-calendrier">&nbsp;</span><span class="fiche-horloge-stop">&nbsp;</span>
        </span>
       </div>
     </div>
	</script>


	<!-- TEMPLATE POUR LE CONTENU DE LA FICHE VÉHICULE ENGAGÉ -->
	<script id="tplFicheVenInformation" type="text/html">
  <!--<div>{{ligne1}}</div>-->
  <div>
    <span>{{rattacheLabel}}</span>
    {{ligne2}}
  </div>
	</script>
	<script id="tplFicheVenGeneral" type="text/html">
	<div class="item item-divider">{{col1Label}}</div>
    <div class="item">

    <div class="infoGenerale">{{& infoGenerale}}</div>

	<div class="fiche-derniere-dispo">
      <span>{{derniereDispoLabel}} : </span>
      <span class="fiche-value">{{venDTO.vehicule.vehDateDispoFormated}}</span>
    </div>
   {{#isPhoneListDisplayed}}
    <!--<div id="fiche-btn-liste-telephone">{{telephonesLabel}}<span class="fiche-icone-liste-telephone"></span></div>-->
    <div class="fiche-liste-telephone">
     {{#venDTO.vehicule.vehTel}}
      <div data="{{venDTO.vehicule.vehTel}}"
          class="fiche-telephone-text fiche-icone-telephone"
          title="{{telephonerLabel}} {{getFormatedTel}}">{{telephoneLabel}} : {{getFormatedTel}}</div>
     {{/venDTO.vehicule.vehTel}}
     {{#venDTO.vehicule.vehiculeRadioDTOs}}
      <div class="fiche-telephone-text fiche-icone-radio">{{#vraRemarque}}{{vraRemarque}} : {{/vraRemarque}}{{vraIndicatif}}{{#vraFrequence}} / {{vraFrequence}}{{/vraFrequence}}&nbsp;</div>
     {{/venDTO.vehicule.vehiculeRadioDTOs}}
    </div>
   {{/isPhoneListDisplayed}}
<!--
    <div class="fiche-retour-umh">
      <span class="fiche-label-small">{{retourUmhLabel}}</span>
      <input type="checkbox" {{#isRetourUmh}}checked="checked"{{/isRetourUmh}}>
    </div>
    <div class="fiche-sortie-blanche">
      <span class="fiche-label-small">{{sortieBlancheLabel}}</span>
      <input type="checkbox" {{#isSortieBlanche}}checked="checked"{{/isSortieBlanche}}>
    </div>
-->
  </div>

	<div class="item item-divider">{{col2Label}}</div>
    <div class="item col2">
    <div>Note : {{venDTO.venNote}}</div>
    <div class="fiche-ven-codeexec">
      <span class="fiche-code-exec fiche-engagement-label">{{codeExecLabel}} : </span>
      <span title="{{venDTO.codifCodeExec.libelle}}" class="fiche-code-exec-value codeExecution codeExecution{{venDTO.venOk}}">{{getCodeExec}}</span>
    </div>
    <div>
      <span class="fiche-engagement-label">{{venDateLabel}} : </span>
	  <span class="fiche-date-container-container">
      <span class="fiche-date-container">
        {{venDTO.venDatesDTO.venDateFormated}}
        <span class="fiche-gomme">&nbsp;</span><span class="fiche-undo">&nbsp;</span>
      </span>
      <span class="fiche-calendrier">&nbsp;</span><span class="fiche-horloge">&nbsp;</span>
      </span>
    </div>
    <div>
      <span class="fiche-engagement-label">{{venDateDebIntLabel}} : </span>
	  <span class="fiche-date-container-container">
      <span class="fiche-date-container">
       {{venDTO.venDatesDTO.venDateDebIntFormated}}
        <span class="fiche-gomme">&nbsp;</span><span class="fiche-undo">&nbsp;</span>
      </span>
      <span class="fiche-calendrier">&nbsp;</span><span class="fiche-horloge">&nbsp;</span>
	  </span>
    </div>
    <div>
      <span class="fiche-engagement-label">{{venDateDepartLabel}} : </span>
	  <span class="fiche-date-container-container">
      <span class="fiche-date-container">
        {{venDTO.venDatesDTO.venDateDepartFormated}}
        <span class="fiche-gomme">&nbsp;</span><span class="fiche-undo">&nbsp;</span>
      </span>
      <span class="fiche-calendrier">&nbsp;</span><span class="fiche-horloge">&nbsp;</span>
	  </span>
    </div>
    <div>
      <span class="fiche-engagement-label">{{venDateArrLieu1Label}} : </span>
	  <span class="fiche-date-container-container">
      <span class="fiche-date-container">
        {{venDTO.venDatesDTO.venDateArrLieu1Formated}}
        <span class="fiche-gomme">&nbsp;</span><span class="fiche-undo">&nbsp;</span>
      </span>
      <span class="fiche-calendrier">&nbsp;</span><span class="fiche-horloge">&nbsp;</span>
	  </span>
    </div>
    <div>
      <span class="fiche-engagement-label">{{venDateDepLieu1Label}} : </span>
	  <span class="fiche-date-container-container">
      <span class="fiche-date-container">
        {{venDTO.venDatesDTO.venDateDepLieu1Formated}}
        <span class="fiche-gomme">&nbsp;</span><span class="fiche-undo">&nbsp;</span>
      </span>
      <span class="fiche-calendrier">&nbsp;</span><span class="fiche-horloge">&nbsp;</span>
	  </span>
    </div>
    <div>
      <span class="fiche-engagement-label">{{venDateArrDestLabel}} : </span>
	  <span class="fiche-date-container-container">
      <span class="fiche-date-container">
        {{venDTO.venDatesDTO.venDateArrDestFormated}}
        <span class="fiche-gomme">&nbsp;</span><span class="fiche-undo">&nbsp;</span>
      </span>
      <span class="fiche-calendrier">&nbsp;</span><span class="fiche-horloge">&nbsp;</span>
	  </span>
    </div>
    <div>
      <span class="fiche-engagement-label">{{venDateDepDestLabel}} : </span>
	  <span class="fiche-date-container-container">
      <span class="fiche-date-container">
        {{venDTO.venDatesDTO.venDateDepDestFormated}}
        <span class="fiche-gomme">&nbsp;</span><span class="fiche-undo">&nbsp;</span>
      </span>
      <span class="fiche-calendrier">&nbsp;</span><span class="fiche-horloge">&nbsp;</span>
	  </span>
    </div>
    <div>
      <span class="fiche-engagement-label">{{venDateFinMedLabel}} : </span>
	  <span class="fiche-date-container-container">
      <span class="fiche-date-container">
        {{venDTO.venDatesDTO.venDateFinMedFormated}}
        <span class="fiche-gomme">&nbsp;</span><span class="fiche-undo">&nbsp;</span>
      </span>
      <span class="fiche-calendrier">&nbsp;</span><span class="fiche-horloge">&nbsp;</span>
	  </span>
    </div>
    <div>
      <span class="fiche-engagement-label">{{venDateDispoLabel}} : </span>
	  <span class="fiche-date-container-container">
      <span class="fiche-date-container">
        {{venDTO.venDatesDTO.venDateDispoFormated}}
        <span class="fiche-gomme">&nbsp;</span><span class="fiche-undo">&nbsp;</span>
      </span>
      <span class="fiche-calendrier">&nbsp;</span><span class="fiche-horloge">&nbsp;</span>
	  </span>
    </div>
    <div>
      <span class="fiche-engagement-label">{{venDateFinIntLabel}} : </span>
	  <span class="fiche-date-container-container">
      <span class="fiche-date-container">
        {{venDTO.venDatesDTO.venDateFinIntFormated}}
        <span class="fiche-gomme">&nbsp;</span><span class="fiche-undo">&nbsp;</span>
      </span>
      <span class="fiche-calendrier">&nbsp;</span><span class="fiche-horloge-stop">&nbsp;</span>
	  </span>
    </div>
  </div>
	</script>
	<script id="tplFicheVenBtnTitle" type="text/html">
  <div class="this-is-a-fake-container">
    <span>{{venDTO.vehicule.vehNom}} - {{venDTO.vehicule.moyenSecoursDTO.nom}}</span>
    <span class="fiche-ven-title-etat">{{etatLabel}} : {{venDTO.vehicule.vehEtat}}. {{venDTO.venEtat}}</span>
  </div>
	</script>
	
	
	<!-- TEMPLATE POUR LE CONTENU DE LA FICHE PERSONNEL ENGAGÉ -->
	<script id="tplFichePenGeneral" type="text/html">
	<div class="item item-divider">{{col1Label}}</div>
    <div class="item">
   {{#penDTO.personnelDTO.perRemarque}}
    <div id="fiche-post-it" title="{{penDTO.personnelDTO.perRemarque}}">&nbsp;</div>
   {{/penDTO.personnelDTO.perRemarque}}
    <div class="fiche-qualif">
      <span>{{qualifLabel}} : </span>
      <span class="fiche-value">{{penDTO.personnelDTO.perTQualif}}</span>
    </div>
	<div class="fiche-derniere-dispo">
      <span>{{derniereDispoLabel}} : </span>
      <span class="fiche-value">{{penDTO.personnelDTO.perDateDispoFormated}}</span>
    </div>
	<div class="fiche-moy-rattachement">
      <span>{{moyenRattachementLabel}} : </span>
      <span class="fiche-value">{{penDTO.personnelDTO.moyenSecoursDTO.nom}}</span>
    </div>
   {{#isPhoneListDisplayed}}
    <!--<div id="fiche-btn-liste-telephone">{{telephonesLabel}}<span class="fiche-icone-liste-telephone"></span></div>-->
    <div class="fiche-liste-telephone">
     {{#penDTO.personnelDTO.perTelNum}}
      <div data="{{penDTO.personnelDTO.perTelNum}}"
          class="fiche-telephone-text fiche-icone-telephone"
          title="{{telephonerLabel}} {{getFormatedTel}}">{{telephoneLabel}} : {{getFormatedTel}}</div>
     {{/penDTO.personnelDTO.perTelNum}}
     {{#penDTO.personnelDTO.perPosteNum}}
      <div data="{{penDTO.personnelDTO.perPosteNum}}"
          class="fiche-telephone-text fiche-icone-telephone"
          title="{{telephonerLabel}} {{penDTO.personnelDTO.perPosteNum}}">{{posteLabel}} : {{penDTO.personnelDTO.perPosteNum}}</div>
     {{/penDTO.personnelDTO.perPosteNum}}
     {{#penDTO.personnelDTO.perBip}}
      <div data="{{penDTO.personnelDTO.perBip}}"
          class="fiche-telephone-text fiche-icone-telephone"
          title="{{telephonerLabel}} {{penDTO.personnelDTO.perBip}}">{{bipLabel}} : {{penDTO.personnelDTO.perBip}}</div>
     {{/penDTO.personnelDTO.perBip}}
    </div>
   {{/isPhoneListDisplayed}}
  </div>

	<div class="item item-divider">{{col2Label}}</div>
    <div class="item col2">
    <div>Note : {{penDTO.penNote}}</div>
    <div>
      <span>{{vehAssocieLabel}} : </span>
      <span class="fiche-value">{{#penDTO.vehiculeEngageDTO.venNom}}{{penDTO.vehiculeEngageDTO.venNom}}{{/penDTO.vehiculeEngageDTO.venNom}}</span>
    </div>
    <div>
      <span class="fiche-engagement-label">{{penDateLabel}} : </span>
	  <span class="fiche-date-container-container">
      <span class="fiche-date-container">
        {{penDTO.penDateFormated}}
        <span class="fiche-gomme">&nbsp;</span><span class="fiche-undo">&nbsp;</span>
      </span>
      <span class="fiche-calendrier">&nbsp;</span><span class="fiche-horloge">&nbsp;</span>
	  </span>
    </div>
    <div>
      <span class="fiche-engagement-label">{{penDateDebIntLabel}} : </span>
	  <span class="fiche-date-container-container">
      <span class="fiche-date-container">
        {{penDTO.penDateDebIntFormated}}
        <span class="fiche-gomme">&nbsp;</span><span class="fiche-undo">&nbsp;</span>
      </span>
      <span class="fiche-calendrier">&nbsp;</span><span class="fiche-horloge">&nbsp;</span>
	  </span>
    </div>
    <div>
      <span class="fiche-engagement-label">{{penDateFinIntLabel}} : </span>
	  <span class="fiche-date-container-container">
      <span class="fiche-date-container">
        {{penDTO.penDateFinIntFormated}}
        <span class="fiche-gomme">&nbsp;</span><span class="fiche-undo">&nbsp;</span>
      </span>
      <span class="fiche-calendrier">&nbsp;</span><span class="fiche-horloge-stop">&nbsp;</span>
	  </span>
    </div>
  </div>
	</script>
		
  </body>
</html>
