
.col2 > div {
	min-height: 30px;
}
.fiche-date-container {
	border: 1px solid #BCBCBC;
}
.border-error {
	border-color: rgb(219, 81, 81);
}

.infoGenerale {
	min-height: 28px;
}

#fiche-content-general, #fiche-content-autres {
	border-top: 1px solid rgb(104, 104, 104);
	padding: 0.7em 0.5em 0.2em;
}
.fiche-content input {
	float: none;
}
.fiche-content input[type=checkbox] {
	vertical-align: middle;
	height: 15px;
}


.fiche-liste-telephone > div, .fiche-col2 > div:not(.fiche-soustitre) {
	height: 22px;
}
.fiche-label-small {
	padding-right: 5px;
}


.fiche-derniere-dispo, .fiche-moy-rattachement, .fiche-qualif {
	margin-bottom: 7px;
}
.fiche-value  {
	font-weight: bold;
	white-space: nowrap;
}



/* TELEPHONES */

#fiche-btn-liste-telephone {
	width: 105px;
	padding: 4px 8px;
	margin-bottom: 5px;
	background-color: lightgrey;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.fiche-icone-telephone, .fiche-icone-fax, .fiche-icone-radio, .fiche-icone-email {
	line-height: 20px;
}
.fiche-liste-telephone {
	margin-bottom: 4px;
	padding: 5px 3px 4px 10px;
	border: 1px solid rgb(150, 150, 150);
	        border-radius: 5px;
	   -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-style: italic;
	overflow-y: auto;
	overflow-x: hidden;
}
.fiche-telephone-text {
	padding-left: 32px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.fiche-icone-telephone {
	background: url(../../img/telephone2_small.png) 0% 0% no-repeat;
	cursor: pointer;
}
.fiche-icone-fax {
	background: url(../../img/fax.png) 0% 50% no-repeat;
}
.fiche-icone-radio {
	background: url(../../img/mobile_phone.png) 0% 25% no-repeat;
	background-size: 22px;
	line-height: 20px;
}
.fiche-icone-email {
	background: url(../../img/courrier_patient.png) 1% -100% no-repeat;
	background-size: 20px;
	cursor: pointer;
}



/* POST-ITS */

#fiche-post-it, #fiche-post-it-edit  {
	float: right;
	margin-right: 5px;
	width: 30px;
	height: 30px;
	background-size: 30px 30px;
	cursor: pointer;
}
#fiche-post-it {
	background-image: url(../../img/postit.png);
}
#fiche-post-it-edit {
	margin-right: 6px;
	background-image: url(../../img/postit-edit.png);
}



/* CODES EXECUTION */

.fiche .codeExecution {
	padding-bottom: 1px;
	cursor: pointer;
	vertical-align: super;
}

.fiche-code-exec {
	margin-right: 5px
}



/* PARTIE ENGAGEMENT  */
.fiche-date-container-container {
	/*float: right;*/
}
.fiche-engagement-label {
	min-width: 155px;
	display: inline-block;
	vertical-align: super;
}
.fiche-date-container {
	display: inline-block;
	height: 26px;
	width: 200px;
	background-color: white;
	padding: 2px 6px 2px 10px;
	margin-bottom: 1px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
input.fiche-date-field {
	width: 9.2em;
	height: inherit;
	padding-top: 1px;
	border: 0;
	outline: 0;
}
.fiche-gomme, .fiche-undo, .fiche-calendrier, .fiche-horloge, .fiche-horloge-stop {
	display: inline-block;
	margin-left: 3px;
	height: 20px;
	width: 22px;
	cursor: pointer;
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position-y: -40%;
}
.fiche-gomme {
	opacity: 0.8;
	background-image: url("../../img/eraser.png");
	float: right;
}
.fiche-undo {
	display: none;
	opacity: 0.6;
	background-image: url("../../img/undo.png");
}
.fiche-calendrier {
	background-image:url("../../img/calendar_1.png");
}
.fiche-horloge {
	background-image:url("../../img/clock.png");
}
.fiche-horloge-stop {
	background-image:url("../../img/clock_stop.png");
}
