
.title {
	font-weight: bold
}

.dossier {
	width: 95%;
	margin: auto;
}


.decision {
	width: 95%;
	display: block;
	margin-bottom: 1px
}

span.decCode {
	font-weight : bold;
	color: dimgray;
}

div.activated > span.decCode {
	color: white;
}
span.codeExecution {
	color: white;
	padding-left: 1em;
	padding-right: 1em;
	margin: 5px 3px 0 15px;
	float: none;
	font-weight: bold;
	min-width: 16px;
	        border-radius: 6px;
	   -moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}
.moyenEngageContainer span.codeExecution {
	padding-left: 0.5em;
	padding-right: 0.5em;
	margin: 5px 3px 0 3px;
	vertical-align: inherit;
}
span.codeExecution1 {
	background-color: rgb(0, 226, 0);
}
span.codeExecution0 {
	background-color: #FF4949;
}


.moyenEngageContainer {
	margin-bottom: 10px
}
.moyenEngageContainer img {
	float: left;
	margin-top: 6px;
}
.moyenEngageContainer .label {
	display: inline-block;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 39%;
}
.moyenEngageContainer .personnelEngage .label {
	max-width: 66%;
}

.moyenEngage, .vehiculeEngage, .personnelEngage {
	height: 45px;
}
.moyenEngage {
	width: 100%;
}
.vehiculeEngage {
	width: 90%;
	margin-left: 10%;
}
.personnelEngage {
	width: 80%;
	margin-left: 20%;
}